/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2017, 5:09:50 PM
    Author     : Jyotsna Singh
*/

.button{
    -fx-pref-width:100px;
    -fx-pref-height:100px;
}

